body {
  background-image: linear-gradient(to left, rgb(0, 170, 255), rgba(228, 239, 142, 0.815));
  font-family: monospace;
  margin: 10px;
  text-align:center;
  font-size: 20px;
}
p{
  font-size: 20px;
}

table, .tg{
  border-style: solid;
  border-color: white;
  border-collapse: collapse;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

footer{
  font-size: 15px;
}

