body {
  background-image: linear-gradient(to left, rgb(0, 170, 255), rgba(228, 239, 142, 0.815));
  font-family: monospace;
  margin: 10px;
  text-align:center;
  font-size: 22.5px;
}

#name{
  font-family:'Courier New', Courier, monospace;
  letter-spacing: 3px;
}

#image{
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
}

#intro{
  font-size: 18px;
  border: 4px double white;
  margin-bottom: 20px;
  margin-top: 15px;
}

table, .tg{
  border-style: solid;
  border-color: white;
  border-collapse: collapse;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

footer{
  font-size: 15px;
}

#info{
  font-size: 15px;
}

/*Tablet*/
@media screen and (min-width: 60em){
  table{
     width:100% 
  }
  #image{
    display: block;
    max-width: 640px;
  }
}

/*Large Screen*/
@media screen and (min-width:100em){
  table{
     width:100% 
  }
  #image{
    display: block;
    max-width: 100%;
  }
}

