body {
  background-image: linear-gradient(to left, rgb(0, 170, 255), rgba(228, 239, 142, 0.815));
  font-family: monospace;
  margin: 10px;
  text-align:center;
  font-size: 22.5px;
}

#name{
  font-family:'Courier New', Courier, monospace;
  letter-spacing: 3px;
}

#intro{
  font-size: 18px;
  border: 4px double white;
  margin-bottom: 20px;
  margin-top: 15px;
}

table, .tg{
  border-style: solid;
  border-color: white;
  border-collapse: collapse;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

footer{
  font-size: 15px;
}

#info{
  font-size: 15px;
}

